[buildout]

extends = 
    config/pycsw.cfg
    config/phoenix.cfg
    config/ipython.cfg
#    config/sphinx.cfg 

develop = .


# z3c.recipe.scripts
extensions += 
    z3c.recipe.scripts

include-site-packages = true
exec-sitecustomize = true
allowed-eggs-from-site-packages = *

# birdhousebuilder.recipe.supervisor
extensions +=
    birdhousebuilder.recipe.supervisor
supervisor-port = 9001

# common options
newest = false
download-cache = downloads

# fixed python egg versions
extensions += 
      buildout.dumppickedversions

versions = versions

[versions]
pyopenssl = 0.13.1

[settings]
proxy-enabled = false
hostname = localhost
http-port = 8081
csw-port = 8082
tomcat-port = 8080
wps-port = 8091
user = www-data
group = www-data
ipython-port = 8888
log-level = DEBUG
esgf-search-url = http://136.172.30.96/esg-search
wps-url = http://localhost:8091/wps
csw-url = http://localhost:8082/csw
thredds-url = http://localhost:8080/thredds
admin-users =








