pyramid>=1.10
pyramid-chameleon
pyramid-mako
pymongo>=3.3.0
pyramid_layout
pyramid_deform
pyramid_beaker
pyramid_celery
pyramid_storage
pyramid_celery
deform
#js.deform
#js.bootstrap
PasteDeploy
authomatic
python-openid2
webhelpers2
webhelpers2_grid
mako
pyyaml
owslib>=0.21.0
lxml
python-dateutil
pytz
pyjwt
chameleon==3.7.4
