authomatic==0.1.0.post1
beaker
chameleon==3.7.4
colander
deform
PasteDeploy
pyramid<2.0
pyramid_beaker
pyramid_celery==3.0.0
pyramid-chameleon
pyramid_deform
pyramid_layout
pyramid-mako
pyramid-rpc
pyramid_storage
python-openid2==3.0
webhelpers2
webhelpers2_grid

