[buildout]

extensions += 
#    buildout.bootstrap
    z3c.recipe.scripts

# z3c.recipe.scripts options
include-site-packages = true
exec-sitecustomize = true
allowed-eggs-from-site-packages = *

# common options
newest = false
download-cache = downloads








