#map {
    position: relative;
    left: 0px;
    top: 0px; 
    width: 850px;
    height: 500px;
    z-index: 0; /* Ensure pop-ups appear above the map! */ 
}
.totalwidth{
    width: 950px;
}

input[type=text]{
    width:40px;
}

#wmsurl{
    width:760px;
}

.nameField
{
    width:200px !important;
}

.timeField{
    width:170px !important;
}
input[type=range]{
    margin-left:0px;
    width:820px;
}

.horizontal{
    display:inline-block;
    white-space:nowrap;
    vertical-align:top;
}
.vertical{
   float:left;
   column-count:1;
}


#maxcol, #mincol{
    margin-bottom:0;
}


label{
    white-space:nowrap;
    display:inline;
}



#AnimateProgress{
    display: none;/*hide on start*/
}

select {
    width: auto;
}

.legend{
    width: 50px;
}

#legendimg{
    height: 440px;
}

