
/* Header
----------------------- */
.navbar {
  margin-bottom: 10;
}

/* Home
----------------------- */
.jumbotron {
  background: rgb(2, 139, 175);
  color: white;
  padding: 40px 0 60px;
  margin-top: -15px;
}


/* Footer
----------------------- */
.footer {
  background: grey;
  border-top: 1px solid;
  padding: 20px;
}

/* more ... 
----------------------- */

/* log output */
pre.log-output {
    color:#f1f1f1;
    background-color:#222;
}

/* hits */

.hits {
    color: green;
    font-weight: bold;
}

/* tags */

.tags {
}

.tags a {
        color: #000; 
        background: #cde69c; 
        margin: 3px 1px 3px 1px;
        padding: 1px 3px;
                text-decoration: none;
        font-size: 80%;
}

/* tags delete */

.tag-box { 
        border:1px solid #CCC; 
        background: #FFF; 
        padding:5px; 
        width: 60%; 
        height:100px; 
        overflow-x: auto;
        overflow-y: auto;
}

.tag-box span.tag { 
        border: 1px solid #a5d24a; 
        -moz-border-radius:2px; 
        -webkit-border-radius:2px; 
        display: block; 
        float: left; 
        padding: 2px; 
        text-decoration:none; 
        background: #cde69c; 
        color: #638421; 
        margin-right: 2px; 
        margin-bottom:2px;
        font-family: helvetica;  
}

.tag-box span.tag a { 
        font-weight: bold; 
        color: #82ad2b; 
        text-decoration:none; 
        font-size: 9px;  
} 

.tag-box div.tag { 
        margin: 3px 1px 3px 1px;
    padding: 1px 3px;
        font-family: 
        helvetica; 
        font-size: 80%; 
        border:1px solid transparent; 
        background: transparent; 
        color: #000;    
        outline:0px;  
        margin-right:2px; 
        margin-bottom:2px; 
}

.tag-box div { 
        display:block; 
        float: left; 
} 
