

/* Flash messages
----------------------- */
.flash-messages {
  margin-top: -20px;
}

/* Top Box
----------------------- */
.topbox {
    background-color: white;
    background-image: url('/static/phoenix/img/clint-bckg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 1920px auto;
    color: white;
    width: 100%;
    height: 600px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
    padding-top: 4%;
}

.topbox a {
    color: orange
}

.imglogo{
  max-width: 350px;
  width: 100%;
}

.badge{
  max-width: 100px;
  width: 100%;
}


.title {
  padding: 0 30px;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #00c5e0ff, #a64af0ff);
  filter: blur(calc(130px - 5vw));
  -webkit-filter: blur(calc(130px - 5vw));
  -moz-filter: blur(calc(130px - 5vw));
  -o-filter: blur(calc(130px - 5vw));
  -ms-filter: blur(calc(130px - 5vw));
  padding: 6px;
  z-index: -1;
}


.badgesbox {
    text-align: center;
    background: white;
    padding: 20px;
}

/* Footer
----------------------- */
.footer {
  text-align: center;
  background: white;
  border-top: 1px solid;
  padding: 20px;
}
.footer a {
    color: orange
}


