/* Basics
----------------------- */
body {
  /* background: white; */
  padding-top: 50px;
}
/* Header
----------------------- */
/*.navbar {
  margin-bottom: 0;
}*/
/*
.navbar-default {
  border-radius: 0;
}
.navbar-brand {
  height: 40px;
  margin-right: 15px;
  width: 120px;
}*/
/* Breadcrumbs
----------------------- */
/* .breadcrumbs {
    background: white;
} */
/* Home
----------------------- */
.jumbotron {
  background: seagreen;
  color: white;
  padding: 40px 0 60px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-top: -10px;
}
.jumbotron a {
    color: orange
}

/* Info Box
----------------------- */
.infobox {
    text-align: center;
    background: white;
    padding: 20px;
}

/* Birdhouse Box
----------------------- */
.birdhouse {
    background: seagreen;
    color: white;
}
.birdhouse a {
    color: orange
}

/* Footer
----------------------- */
.footer {
  text-align: center;
  background: white;
  border-top: 1px solid;
  padding: 20px;
}
.footer a {
    color: orange
}

/* Media
---------------------- */
/*.thumbnail > img {
    height: 32px;
}*/

/* Log Panel
---------------------- */
pre.log-output {
    color:#f1f1f1;
    background-color:#222;
}

/* XML Panel
---------------------- */
pre.xml-output {
    color:#f1f1f1;
    background-color:#222;
}
