/* Basics
----------------------- */
body {
  background: white;
  padding-top: 60px;
}


/* Header
----------------------- */
.navbar {
  margin-bottom: 0;
}
.navbar-inverse {
  background-color: black;
  border-radius: 0;
}


/* Home
----------------------- */
.jumbotron {
  background: teal;
  color: white;
  padding: 40px 0 60px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-top: -10px;
}
.jumbotron a {
    color: orange
}


/* Footer
----------------------- */
.footer {
  text-align: center;
  background: white;
  border-top: 1px solid;
  padding: 20px;
}
.footer a {
    color: orange
}

/* Media
---------------------- */
.thumbnail > img {
    height: 32px;
}

/* Log Panel
---------------------- */
pre.log-output {
    color:#f1f1f1;
    background-color:#222;
}