#div-map {
    //width: 400px;
    height: 250px;
}
#div-csw-results, #div-csw-results-glass {
    width: 500px;
    height: 300px;
    overflow-y: auto;
}
#div-csw-results-glass {
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    display: none;
}