.navbar-link {
	display: block;
	padding: 0.5rem 2rem;
}

.navbar-link:hover, .navbar-link:focus {
	text-decoration: none;
}

.navbar-link.disabled {
	color: #95a5a6;
	pointer-events: none;
	cursor: default;
}

.nav-tabs .navbar-link {
	border: 1px solid transparent;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.nav-tabs .navbar-link:hover, .nav-tabs .navbar-link:focus {
	border-color: #ecf0f1 #ecf0f1 #ecf0f1;
}

.nav-tabs .navbar-link.disabled {
	color: #95a5a6;
	background-color: transparent;
	border-color: transparent;
}

.nav-tabs .navbar-link.active, .nav-tabs .nav-item.show .navbar-link {
	color: #7b8a8b;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}

.nav-pills .navbar-link {
	border-radius: 0.25rem;
}

.nav-pills .navbar-link.active, .nav-pills .show>.navbar-link {
	color: #fff;
	background-color: #00628d;
}

.navbar-nav .navbar-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-expand-sm .navbar-nav .navbar-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.navbar-expand-md .navbar-nav .navbar-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.navbar-expand-lg .navbar-nav .navbar-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.navbar-expand-xl .navbar-nav .navbar-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.navbar-expand .navbar-nav .navbar-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.navbar-light .navbar-nav .navbar-link {
	color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .navbar-link:hover, .navbar-light .navbar-nav .navbar-link:focus
	{
	color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .navbar-link.disabled {
	color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show>.navbar-link, .navbar-light .navbar-nav .active>.navbar-link,
	.navbar-light .navbar-nav .navbar-link.show, .navbar-light .navbar-nav .navbar-link.active
	{
	color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-nav .navbar-link {
	color: #fff;
}

.navbar-dark .navbar-nav .navbar-link:hover, .navbar-dark .navbar-nav .navbar-link:focus
	{
	color: #00a2c3;
}

.navbar-dark .navbar-nav .navbar-link.disabled {
	color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show>.navbar-link, .navbar-dark .navbar-nav .active>.navbar-link,
	.navbar-dark .navbar-nav .navbar-link.show, .navbar-dark .navbar-nav .navbar-link.active
	{
	color: #fff;
}

.bg-primary .navbar-nav .active>.navbar-link {
	color: #00a2c3 !important;
}

.bg-dark.navbar-dark .navbar-nav .navbar-link:focus, .bg-dark.navbar-dark .navbar-nav .navbar-link:hover,
	.bg-dark.navbar-dark .navbar-nav .active>.navbar-link {
	color: #00628d !important;
}

.nav-tabs .navbar-link.active, .nav-tabs .navbar-link.active:focus,
	.nav-tabs .navbar-link.active:hover, .nav-tabs .nav-item.open .navbar-link,
	.nav-tabs .nav-item.open .navbar-link:focus, .nav-tabs .nav-item.open .navbar-link:hover
	{
	color: #00628d;
}


// map stuff

.bounds_control_container {
	margin-top: 20px;
	margin-bottom: 20px;
}

a.skiplink {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

a.skiplink:focus {
	clip: auto;
	height: auto;
	width: auto;
	background-color: #fff;
	padding: 0.3em;
}

#map {
	border: 1px solid black;
	width: 100%;
	height: 500px;
}

#map:focus {
	outline: #4A74A8 solid 0.15em;
}